/* topbar */
.topbar {
    height: 60px;
    width: 100%;
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.shadow {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.topbar h1 {
    font-size: 20px;
    color: var(--circuit-color-pulse);
    margin-left: 20px;
}

.pages_item {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pages_item p {
    font-size: 18px;
    margin: 30px;
    /* color: var(--font-color); */
}

.theme {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* color: var(--font-color); */
}

.theme:hover {
    color: var(--button-bg);
}

.user {
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    /* background-color: rgba(0, 0, 0, 0.707); */

}

.user img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 3px;
    color: white;

}

.user svg {
    color: antiquewhite !important;
    height: 18px;
    margin-left: 2px;
}

.logouttt {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.logouttt svg {
    color: white;
    stroke: white;
}

.logouttt:hover {
    border: 1px solid var(--button-bg);
    stroke: var(--button-bg);
}

.logouttt svg:hover {
    /* color: #007bff; */
    stroke: var(--button-bg);
}

.page {
    cursor: pointer;
    /* color: var(--font-color); */
}

.page p {
    cursor: pointer;
}

.page_active {
    border-bottom: 2px solid var(--button-bg);
    color: var(--button-bg);
    cursor: pointer;
}

.page:hover {
    border-bottom: 2px solid var(--button-bg);
}