#chartdiv {
  width: 200px;
  height: 200px;
  /* padding-left: 10px; */
  /* margin-bottom: 25px; */
}
.direction1_main{
  height: 100%;

  width: 100%;}

  .direction1_main div {
    width: 180px;
    height: 180px;
  }