<div class="importer_base">

    <button class="import_button" (click)="on_openImport()">import</button>

    <div class="files_container">
        <h4 style="align-self: flex-start; margin-left: 20px; color: var(--font-color);">Explorer</h4>

        <div class="folder" *ngFor="let folder of files_list; let i = index">
            <div class="folder-header" (click)="toggleFolder(i, folder.folder_id)">
                <img [src]="expandedFolders[i] ? 'assets/file_opened.png' : 'assets/file_closed.png'" alt="folder" />
                <div class="folder-info">
                    <p>{{ folder.folder_name }}<br><span>{{ folder.timestamp | date:'short' }}</span></p>
                </div>
                <span class="arrow">{{ expandedFolders[i] ? '▾' : '▸' }}</span>
            </div>

            <div class="file-list" *ngIf="expandedFolders[i]">
                <div *ngFor="let f of folder.files" [ngClass]="getFileClass(f.file_name, folder.folder_id)"
                    (click)="toggleFileSelection(f.file_name, $event, f.file_id)">
                    <img [src]="getFileImage(f.file_name)" alt="file" />
                    <p>{{ f.file_name }}</p>
                    <i *ngIf="f.is_processed" class="pi pi-file-edit" style="font-size: 1rem"
                        title="Processed File"></i>

                </div>
            </div>
        </div>

    </div>


    <div class="main_section">


        <!-- <div class="dashboard">
            <div class="widget">
                <h3>Station ID</h3>
                <p>0123A</p>
            </div>
            <div class="widget">
                <h3>Latitude</h3>
                <p>34.05° N</p>
            </div>
            <div class="widget">
                <h3>Longitude</h3>
                <p>118.25° W</p>
            </div>
            <div class="widget">
                <h3>Battery</h3>
                <div class="battery-icon"></div>
            </div>

            <div class="widget wide">
                <h3>Tide</h3>
                <div class="line-chart"></div>
            </div>
            <div class="widget">
                <h3>Current Speed</h3>
                <div class="gauge"></div>
            </div>
            <div class="widget">
                <h3>Current Direction</h3>
                <div class="arrow-icon"></div>
            </div>
            <div class="widget">
                <h3>Depth</h3>
                <div class="line-chart"></div>
            </div>

            <div class="widget" style="grid-column: span 4;">
                <h3>Current Profiles</h3>
            </div>

            <div class="profiles">
                <div class="widget center">
                    <h3>Current Speed</h3>
                    <div class="gauge"></div>
                </div>
                <div class="widget center">
                    <h3>Current Direction</h3>
                    <div class="gauge"></div>
                </div>
                <div class="widget center">
                    <h3>Current Speed</h3>
                    <div class="gauge"></div>
                </div>
                <div class="widget center">
                    <h3>Current Direction</h3>
                    <div class="gauge"></div>
                </div>
                <div class="widget center">
                    <h3>Current Speed</h3>
                    <div class="gauge"></div>
                </div>
                <div class="widget center">
                    <h3>Depth</h3>
                    <div class="drop-icon"></div>
                </div>
            </div>
        </div> -->
        <div class="table_container" *ngIf="!isMulti">
            <!-- <p *ngIf="main_table.length === 0">No Files Selected</p> -->
            <div *ngIf="main_table.length === 0" class="land">
                <app-landing></app-landing>
                <!-- <p class="chip-text">Advance Processing of Oceanographic Current Profilers</p> -->
            </div>
            <div class="bod" *ngIf="main_table.length > 0">
                <div class="coordinates">

                    <h4>Longitude</h4>
                    <input type="number" step="any" min="-180" max="180" placeholder="Longitude (-180 to 180)"
                        [(ngModel)]="lon" name="longitude" #long="ngModel">
                    <div *ngIf="long.invalid" class="error">
                        Longitude must be between -180° and +180°.
                    </div>

                    <h4>Latitude</h4>
                    <input type="number" step="any" min="-90" max="90" placeholder="Latitude (-90 to 90)"
                        [(ngModel)]="latitude" name="latitude" #lat="ngModel" (change)="changinglat()">
                    <div *ngIf="lat.invalid" class="error1">
                        Latitude must be between -90° and +90°.
                    </div>

                    <h4 *ngIf="!isMulti">Select High Water Time</h4>
                    <input type="text" [(ngModel)]="high_water_level" *ngIf="!isMulti" readonly>
                    <!-- <select name="waterlevel" id="" *ngIf="!isMulti">
                        <option value="1">-- Please Select High Water Level from Table - -></option>
                        <option value="2">one</option>
                        <option value="3">two</option>
                    </select> -->
                    <!-- <div class="spacer"></div> -->
                    <button class="update" (click)="update_Values()">Update</button>
                </div>

                <table class="styled-table">
                    <thead>
                        <tr>
                            <th *ngFor="let column of main_table_headers">{{ column }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of main_table; let i=index" (click)="onRowClick(row, i)"
                            [class.selected]="selectedRowIndex === i">
                            <td>{{ row.station_id }}</td>
                            <td>{{ row.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{ row.speed }}</td>
                            <td>{{ row.direction }}</td>
                            <td>{{ row.depth }}</td>
                            <td>{{ row.battery }}</td>
                            <td>{{ row.pressure }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="home_main" *ngIf="is_show_import">
        <div class="table_container">
            <p *ngIf="historyData.length === 0">No Files Selected</p>
            <div class="bod" *ngIf="historyData.length > 0">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th *ngFor="let column of tableHeaders">{{ column }}</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of historyData; let i=index">
                            <td>{{ row.station_id }}</td>
                            <td>{{ row.date | date:'yyyy MM dd HH:mm:ss'}}</td>
                            <!-- <td>{{ row.Time }}</td> -->
                            <td>{{ row.speed }}</td>
                            <td>{{ row.direction }}</td>
                            <td>{{ row.depth }}</td>
                            <td>{{ row.battery }}</td>
                            <td>{{ row.pressure }}</td>
                            <td>
                                <!-- <button cli>Delete</button>-->
                                <i id="trash" class="fa-solid fa-trash" (click)="deleteRow(i)" style="color: red;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="file_upload_container">
            <h1 (click)="on_openImport()">X</h1>

            <!-- Toggle for allowing folder upload -->
            <div class="checkbox-container">
                <label>
                    <input type="checkbox" [(ngModel)]="allowFolderUpload" />
                    Allow Folder Upload
                </label>
            </div>

            <div class="file-upload">
                <input type="file" id="fileUpload" accept=".xlsx, .csv" (change)="onFilesSelected($event)" multiple
                    [attr.webkitdirectory]="allowFolderUpload ? '' : null" />
                <label for="fileUpload">📁 Upload File (.xlsx, .csv)</label>

                <div *ngIf="FileName !== ''" class="file-name">{{ FileName }}</div>
            </div>
            <div class="uploaded_files">
                <p *ngFor="let file of uploaded_files">{{file}}</p>
            </div>
            <input class="nameField" type="text" placeholder="File Name" [(ngModel)]="FileName" />

            <button type="submit" (click)="import()">Submit</button>
        </div>




    </div>
</div>