<div class="analytics_main">
    <div class="files_container">
        <h4 style="align-self: flex-start; margin-left: 20px;">FILES</h4>

        <div class="folder" *ngFor="let folder of files_list; let i = index">
            <div class="folder-header" (click)="toggleFolder(i, folder.folder_id)">
                <img [src]="expandedFolders[i] ? 'assets/file_opened.png' : 'assets/file_closed.png'" alt="folder" />
                <div class="folder-info">
                    <p>{{ folder.folder_name }}<br><span>{{ folder.timestamp | date:'short' }}</span></p>
                </div>
                <span class="arrow">{{ expandedFolders[i] ? '▾' : '▸' }}</span>
            </div>

            <div class="file-list" *ngIf="expandedFolders[i]">
                <div *ngFor="let f of folder.files" style="cursor: pointer;"
                    [ngClass]="getFileClass(f.file_name, folder.folder_id)" (click)="toggleFileSelection(f.file_id)">
                    <img [src]="getFileImage(f.file_name)" alt="file" />
                    <p>{{ f.file_name }}</p>
                    <i *ngIf="f.is_processed" class="pi pi-file-edit" style="font-size: 1rem"
                        title="Processed File"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="chartsContainer">
        <div class="view">
            <!-- <p-select class="dateDrop" [options]="chartOptions" [(ngModel)]="selectedChart" placeholder="Select a chart"
                (onChange)="onChartTypeChange()"></p-select> -->
            <label class="viewLabel">Raw Data</label>
            <p-toggleswitch [(ngModel)]="isProcessedData" (onChange)="onDataTypeChange()"></p-toggleswitch>
            <label style="margin-right: 15px;" class="viewLabel">Processed Data</label>
            <p-select class="viewDrop" [options]="viewModes" [(ngModel)]="viewMode" placeholder="Select View Mode"
                (onChange)="loadChart()">
            </p-select>
            <!-- <p-cascadeselect [(ngModel)]="viewMode" [options]="viewModes" optionLabel="cname" optionGroupLabel="name" [optionGroupChildren]="['states', 'cities']" [style]="{ minWidth: '14rem' }" placeholder="Select a Chart" /> -->
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Single Axis'">
            <div class="colorPickerContainer">
                <p-colorPicker [(ngModel)]="tideChartColor"
                    (onChange)="onColorChange(tideChartColor, 'tideChartColor')">
                </p-colorPicker>
            </div>
            <div  id="tide" class="chart-diagram" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Single Axis'">
            <div class="colorPickerContainer">
                <p-colorPicker [(ngModel)]="currentSpeedColor"
                    (onChange)="onColorChange(currentSpeedColor, 'currentSpeedColor')">
                </p-colorPicker>
            </div>
            <div id="currentSpeed" class="chart-diagram" style="width: 100%; height: 400px; flex-grow: 1;"></div>
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Single Axis'">
            <div class="colorPickerContainer">
                <p-colorPicker [(ngModel)]="currentDirectionColor"
                    (onChange)="onColorChange(currentDirectionColor, 'currentDirectionColor')">
                </p-colorPicker>
            </div>
            <div id="currentDirection" class="chart-diagram" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Dual Axis'">
            <div id="currentSpeedDirection" class="chart-diagram" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Tri Axis'">
            <div id="midSpeedDirection" class="chart-diagram" style="width: 100%; height: 400px;"></div>
        </div>

        <div class="chartContainer" *ngIf="viewMode === 'Polar'">

            <p-datepicker [(ngModel)]="selectedPolarDate" (onSelect)="midpolar()" [showIcon]="true"
                dateFormat="yy-mm-dd" [maxDate]="maxDate" [disabledDates]="disabledPolarDates"
                [placeholder]="'Select Date'">
            </p-datepicker>

            <p-select [options]="[
                        {label: '30 Min', value: 30},
                        {label: '1 Hour', value: 60},
                        {label: '6 Hours', value: 360},
                        {label: '24 Hours', value: 1440}
                        ]" [(ngModel)]="PolarSelectedInterVal" (onChange)="midpolar()"></p-select>

            <div id="midpolar" class="chart-diagram" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <p-dialog [(visible)]="visible" [style]="{width: '30vw', height: '100%', maxHeight: '100%'}" [draggable]="false"
        [resizable]="false" position="right" [modal]="true" [closeOnEscape]="true" [closable]="true"
        (onShow)="onDialogShow()">
        <ng-template pTemplate="header">
            <div class="header">
                <span style="font-size: 1.5rem; font-weight: bold;">Data</span>
            </div>
        </ng-template>
        <div #tableWrapper>
            <p-table [value]="main_table" stripedRows [scrollable]="true" styleClass="p-datatable-sm"
                [scrollHeight]="'calc(100vh - 150px)'" [showGridlines]="true" [virtualScroll]="true"
                [virtualScrollItemSize]="46" [loading]="loading">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="position: sticky; top: 0; z-index: 1; background: var(--surface-card);">Timestamp
                        </th>
                        <th style="position: sticky; top: 0; z-index: 1; background: var(--surface-card);">Current Speed
                            (m/s)</th>
                        <th style="position: sticky; top: 0; z-index: 1; background: var(--surface-card);">Current
                            Direction (°)</th>
                        <th style="position: sticky; top: 0; z-index: 1; background: var(--surface-card);">Water Level
                            (m)</th>
                        <th style="position: sticky; top: 0; z-index: 1; background: var(--surface-card);">Add</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [class.selected-row]="item.id === selectedPointId" [attr.data-id]="item.id">
                        <td>{{ item.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
                        <td>
                            <input type="text" pInputText [value]="item.speed"
                                (blur)="updateField(item, 'speed', $event)"
                                (keyup.enter)="updateField(item, 'speed', $event)" />
                        </td>
                        <td>
                            <input type="text" pInputText [value]="item.direction"
                                (blur)="updateField(item, 'direction', $event)"
                                (keyup.enter)="updateField(item, 'direction', $event)" />
                        </td>
                        <td>
                            <input type="text" pInputText [value]="item.pressure"
                                (blur)="updateField(item, 'pressure', $event)"
                                (keyup.enter)="updateField(item, 'pressure', $event)" />
                        </td>
                        <td>
                            <i *ngIf="!item.isNewRow" class="pi pi-plus-circle"
                                style="font-size: 2rem; color: green; cursor: pointer;" title="Add row below"
                                (click)="addRowBelow(item)"></i>
                            <i *ngIf="item.isNewRow" class="pi pi-minus-circle"
                                style="font-size: 2rem; color: red; cursor: pointer;" title="Remove row"
                                (click)="removeRow(item)"></i>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="footer" style="text-align: center; margin-top: 15px;">
            <p-button label="Update" icon="pi pi-check" [loading]="loading" (onClick)="onUpdateClick()" />
        </div>
    </p-dialog>
</div>