.base-main{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

.bodyy{
    height: 93%;
    width: 100%;
    /* background-color: ; */
}

.license-card-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card {
  z-index: 9999;
}

::ng-deep .p-message-warn {
  color: var(--font-color);
}
